 <%- include("../includes/navbar.ejs") %>
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoptopia</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="main">
        <div id="cursor"></div>
        <div id="page1">
            <div id="bottom"> 
                <div id="b1">
                    <div class="cate">
                        <h5>Dogs</h5>
                    </div>
                    <div class="cate">
                        <h5>Cats</h5>
                    </div>
                    <div class="cate">
                        <h5>Other Pets</h5>
                    </div>

                </div>
                <div id="b2">
                    <div class="leta">
                        <img src="https://imgs.search.brave.com/A08ld8xqLpVFiykwbGTkR9aHV4knO5o2vjHoXbo5HhU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jbGlw/YXJ0LWxpYnJhcnku/Y29tL2ltYWdlcy9y/VG5ycGFwNmMucG5n"
                            alt="" style="height: 20px; color: #552473; ">
                        <h5>Breed</h5>
                    </div>
                    <div class="leta">
                        <i class="ri-home-heart-fill"></i>
                        <h5>Age</h5>
                    </div>
                    <div class="leta">
                        <i class="ri-map-pin-2-fill"></i>
                        <h5>Location</h5>
                    </div>
                    <div class="leta">
                        <input type="text" placeholder="Search"></input>
                    </div>
                </div>
            </div> 
            <div id="mian1">
                <h1>Adoptopia</h1><br>
                <h2>A Digital Hub for Rescuing <br> & <br> Rehoming Stray Pets</h2>
                <p>Fur-Ever Love Rescue: With a focus on rehabilitation, our non-profit rescues, fosters, and rehomes
                    animals in need. we offer educational programs, low-cost veterinary care, and community outreach to
                    enhance the lives of both pets and people.</p>
            </div>
            <div id="mian2"><img src="../images/poster.png" alt="mainphoto" srcset=""></div>
            <div id="mian3">

                <div id="swiper">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <h3>Upcoming Events !</h3>
                            </div>
                            <div class="swiper-slide"></div>
                            <div class="swiper-slide"></div>
                            <div class="swiper-slide"></div>
                            <div class="swiper-slide"></div>
                            <div class="swiper-slide"></div>


                        </div>
                    </div>
                </div>


            </div>
        </div>
         <div id="page2">
                   <div id="circle"></div>
                   <h1>Adoption Journey <br> <span>How It Works</span> </h1>
                   <div id="base2">
                    <div id="left2">
                        <div class="glass-container">
                            <div class="glass-content">
                              <h2>Spot Your Furry Friend:</h2>
                              <p>Click on the "Adopt" button next to your favorite dog's adorable face.</p>
                          
                              <h2>Whizz! Your Request is Sent:</h2>
                              <p>Your adoption request zooms off to our partnering NGO like a rocket!</p>
                          
                              <h2>In the Blink of an Eye:</h2>
                              <p>Within 24 hours, the NGO's superheroes will reach out to you faster than a speeding bullet! They'll guide you through the necessary documentation like a breeze.</p>
                          
                              <h2>Woof! Congrats on Your New Family Member:</h2>
                              <p>Once everything's sorted, you're ready to welcome your new furry family member into your loving home!</p>
                            </div>
                          </div>
                    </div>
                   <div id="right2">
                    <img src="../images/p1.png" alt="">
                   </div>
                   </div>
         </div>
         <div id="page3">
            <div id="circle"></div>
            <h1>From Distress to Happiness <br> <span>Our Animal Rescue Journey</span> </h1>
            <div id="base3">
             <div id="left3">
                <img src="../images/poster.png" alt="">
             </div>
            <div id="right3">
                <div class="glass-container">
                    <div class="glass-content">
                      <h2>Be a Hero:</h2>
                      <p>Fill out our rescue form found on our website. It's your cape to save the day!</p>
                  
                      <h2>Ring! Ring! Confirmation Time:</h2>
                      <p>Prepare for your phone to sing with a call from the nearest veterinary hospital or our rescue unit. They'll confirm the details with you faster than a speeding squirrel!</p>
                  
                      <h2>Rescue Squad Assemble:</h2>
                      <p>Once everything's set, our mighty rescue units are dispatched to the location faster than a bolt of lightning!</p>
                  
                      <h2>Healing Begins:</h2>
                      <p>The injured animal is swiftly brought to the nearest veterinary clinic, where they'll receive the TLC they deserve. Watch them transform from distressed to dazzling, ready for a new chapter of health and happiness!</p>
                    </div>
                  </div>
            </div>
            </div>
  </div>
         <div id="page4">
            <div class="container">
                <div class="card">
                  <h2>Adopt a Stray Animal</h2>
                  <button>View More</button>
                </div>
                <div class="card">
                  <h2>Report an Injured Animal</h2>
                  <button>View More</button>
                </div>
                <div class="card">
                  <h2>Interested in Volunteering</h2>
                  <button>View More</button>
                </div>
                <div class="card">
                  <h2>Make a Donation</h2>
                  <button>View More</button>
                </div>
              </div>
         </div>
         <div id="divider">
            <img src="./logo.png" alt="">
            <h3>Adoptopia</h3>
         </div>
         <footer>
            <div class="footer-part1">
                
             <p>Fur-Ever Love Rescue is a non-profit organization dedicated to rescuing, fostering, and rehoming animals in need. We provide educational programs and low-cost veterinary care, benefiting both pets and people. Our proposed platform streamlines the adoption process, encourages user engagement by allowing favorites, and fosters collaboration between NGOs and veterinary hospitals. We aim to be a beacon of hope, offering a digital haven for vulnerable animals to find care and new homes</p>
            </div>
            <div class="footer-part2">
             
              <ul>
                <li><a href="#">Adopt</a></li>
                <li><a href="#">Rescue</a></li>
                <li><a href="#">Donate</a></li>
                <li><a href="#">Blogs</a></li>
                <li><a href="#">About Us</a></li>
               
              </ul>
            </div>
            <div class="footer-part3">
                <i class="ri-mail-fill"></i>
                <i class="ri-facebook-circle-fill"></i>
                <i class="ri-instagram-fill"></i>
                <i class="ri-twitter-fill"></i>
            </div>
          </footer>      
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!-- Yaha se daala av -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js" integrity="sha512-EZI2cBcGPnmR89wTgVnN3602Yyi7muWo8y1B3a8WmIv1J9tYG+udH4LvmYjLiGp37yHB7FfaPBo8ly178m9g4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/javascript/script.js"></script>
</body>

</html>